.wpglobus_flag{height:12px;width:18px;background-repeat:no-repeat;background-position:center left}.wpglobus_language_name{padding-left:22px}.page_item_wpglobus_menu_switch
.children{display:none}.page_item_wpglobus_menu_switch:hover
.children{display:block}.menu_item_wpglobus_menu_switch .sub-menu{display:none}.menu_item_wpglobus_menu_switch:hover .sub-menu{display:block}.widget_wpglobus .flags-styled
.flag{margin-right:0.4em}.widget_wpglobus .list
a{display:block}.widget_wpglobus .list a
img{display:none}.widget_wpglobus .list a
span.name{display:inline-block}.widget_wpglobus .list a
span.code{display:inline-block;margin:0
0 0 4px}.widget_wpglobus .list a span.code:before{content:"("}.widget_wpglobus .list a span.code:after{content:")"}.widget_wpglobus .list.flags
img{margin:0
4px 0 0;display:inline-block}.widget_wpglobus .select-styled{overflow:hidden}.widget_wpglobus .dropdown-styled{text-align:center;display:inline;list-style:none}.widget_wpglobus .dropdown-styled
li{text-align:left;display:inline-block;margin-right:-4px;position:relative;padding:5px
10px;background:#fff;cursor:pointer}.widget_wpglobus .dropdown-styled li:hover{background:#eee;color:#fff}.widget_wpglobus .dropdown-styled li:hover
ul{display:block;opacity:1;visibility:visible}.widget_wpglobus .dropdown-styled li
ul{padding:0;position:absolute;top:28px;left:-21px;width:150px;display:none;opacity:0;visibility:hidden}.widget_wpglobus .dropdown-styled li ul
li{background:#eee;display:block;color:#fff}.widget_wpglobus .dropdown-styled li ul li:hover{background:#ddd}